@import 'normalize',
		'skeleton';

#header{
	border-bottom: medium solid #66D9EF;
	height: 4em;
	background-color: grey;
	.nav{
		border-top: medium solid #66D9EF;
		background-color: white;
	}
}

#footer{
	border-top: medium solid #66D9EF;
	height: 4em;
}

#main{
	padding-top: 4%;
    min-height: 70em;
}
.post{

	h3{
		margin-top: none;
		margin-bottom: .3em;
		a{	
			font-size: 2rem;
			text-decoration: none; 
		}
	}
	p{
		font-size: 1rem;
		line-height: 1.8;
	}
	p:first-child { 
		margin-bottom: .3em;	
	}
}